/* HEADER SUPPORT */ 
#customizedTitle {
	color:white; margin-top:10px; font-size:3em;
}
/*
#header-main {
	 border-bottom:2px solid #fcba19; margin-bottom:5px;
}

*/
#topicTemplate {margin-top: 100px;}

/* HEADER SUPPORT - END*/ 

/* FOOTER SUPPORT */

